        /* CSS GENERAL */

* {
    margin: 0;
    padding: 0;
    list-style-type: none !important;
    text-decoration: none !important;
}

body {
    font-size: 16px;
    background-color: #ececec !important;
}

.abel-font, h1{
    font-family: 'Abel', sans-serif !important;
}

.zone-main{
    min-height: 50vh !important;
}

/* CSS NAV / HEADER */
.logo-gif {
    width: 150px !important;
}

nav ul li{
    margin:5px 10px ;
}

.border_separator{
    border-right: 1px solid #dee2e6;
}

.hover_effect{
    padding: 10px;
    position:relative;
    border: none !important;
    outline: none;
}

.hover_effect:after{
    position: absolute;
    left: 0px;
    bottom: 0px;
    content: '';
    width: 0%;
    height: 2px;
    background-color: #c49a52;
    transition: 0.3s;
}

.hover_effect:hover{
    color: #c49a52 !important;
}

.hover_effect:hover:after{
    width: 100%;
}

nav{
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(34,31,31,1) !important;
    background: rgba(34,31,31,1) !important;
}

.dropdown-menu.show{
    background-color: rgba(34,31,31,1) !important;
    border: 0px;
}

.dropdown-menu.show li a{
    color: white;
    background-color: rgba(34,31,31,1) !important;
}

#dropdown07.show{
    color: #c49a52;
}

#intro{
    position: relative;
    text-align: center;
}

#intro-text{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#recherche_avancer{
    border-radius: 0.5rem;
    background: rgba(112, 112, 112, 0.9);
}


#recherche_avancer input, #recherche_avancer select{
    background-color: rgba(255, 255, 255, 0.555);
    border-radius: 6px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
  }

#recherche{
    border-radius: 0.5rem;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(140,140,140, 0.8);
}

#recherche input, #recherche select{
    background-color: transparent;
}


#main_content.back_popup{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

.card-car{
    background-color: white !important;
}

.show_popup{
    visibility: 1 !important;
    opacity: 1 !important;
    display: block !important;
}

.btn-account{
    border: none;
    background: transparent;
    color: white;
}

/* #depart_location, #fin_location{
    border: 1px solid black;
    border-radius: 8px;
} */

/* CSS FOOTER */

footer{
    width: 100% !important;
}

.zone-footer{
    min-height: 150px;
}

.icone-b {
    font-size: 1.5rem !important;
    color: white;
    margin-right: 0.5em;
}

.icone-b:hover {
    color: #B2BABB;
}

.menu-footer li a {
    color: white;
    margin-right: 0.5em;
}

.menu-footer li a:hover {
    color: #B2BABB;
}

.zone-copyright{
    background-color: #c49a52 !important;
    width: 100% !important;
}

/* CSS PAGE INDEX */

.liens-nouveautes {
    width: 30%;
}

.img-nouveautes {
    width: 100%;
    transition: 0.5s !important;
}

.img-nouveautes:hover {
    transform: rotate(-3deg) !important;
    box-shadow: 0px 1px 36px -7px rgba(0,0,0,0.75) !important;
-webkit-box-shadow: 0px 1px 36px -7px rgba(0,0,0,0.75) !important;
-moz-box-shadow: 0px 1px 36px -7px rgba(0,0,0,0.75) !important;
}

/* CSS PAGE BOUTIQUE */

.accordion-button {
    color: #000 !important;
}

.accordion-button:not(.collapsed) {
    background-color: transparent !important;
}

.accordion-button:not(.collapsed)::before {
    transform: none !important;
}

.accordion-button:not(.collapsed)::after {
    /* background-image: url(assets/svg/fleche.svg) !important; */
    transform: rotate(180deg) !important;
    color: #000 !important;
}

.titre-produit-boutique:hover {
    color: #808B96 !important;
}

/* CSS FICHE PRODUIT */

.img-produit-fiche{
    width: 24rem;
}

/* CSS PAGE CONTACT */

.google-map {
    width: 100%;
}

.liens-supp-produit-panier:hover, .titre-produit-panier:hover {
    color: #808B96 !important;
}

/* ---------------- Page Commande ------------------- */

#commandes .accordion-button::after{
    position: absolute;
    right: 15px;
}

.img_prod{
    width: 100px;
    align-self: center;
}

.commande_status{
    text-align: end;
    margin: 0px;
    position: absolute;
    right: 60px;
}

.commande_prod_info{
    align-self: center;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.commande_prod_quantity{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
}

/* PARTIE RESPONSIVE */

@media screen and (max-width: 1200px) {
    #recherche{
        border-radius: 0.5rem;
        position: initial;
        transform: translate(0%,-40%);
        margin: 0 auto;
        background: rgba(140,140,140, 0.75);
    }

    #recherche form div{
        border: 0px !important;
    }

    #chercher{
        border-radius: 0px 0px 8px 8px !important;
    }
    /* #recherche form div{
        margin-top: 0.75rem !important;
        margin-bottom: 0.75rem !important;
    } */

    .border_separator{
        border-right: 0px !important;
    }
}

@media screen and (max-width: 1030px) {
    .zone-card-fiche-produit {
        display: flex;
        flex-direction: column;
        padding-right: 0 !important;
        padding-left: 0 !important;
        width: 95% !important;
        margin: 1.5em auto;
    }
    .zone-card-fiche-produit img {
        width: 70%;
        display: block;
        margin: 0 auto;
    }
    .zone-card-body{
        width: 100% !important;
    }
}

@media screen and (max-width: 1000px) {
    .zone-map-contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 992px)
{
    nav{
        padding-bottom: 20px !important;
    }
    nav ul.show.dropdown-menu{
        border: 0;
        background-color: rgba(34,31,31,1) !important;
        background: rgba(34,31,31,1) !important;
    }
    nav ul.show.dropdown-menu li a{
        color: white;
    }
    nav ul.show.dropdown-menu li :hover{
        background-color: rgba(34,31,31,1) !important;
        background: rgba(34,31,31,1) !important;
    }
    .navbar-nav, .navbar-nav ul.dropdown-menu{
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    #carouselExampleIndicators {
        display: none !important;
    }
}

@media screen and (max-width: 768px) {

    .commande_status{
        text-align: start;
        margin-top: 0.25rem;
        position: initial;
    }

    .img_prod{
        width: 100%;
    }

    .commande_prod_info{
        text-align: center;
    }

    .commande_prod_quantity{
        margin-top: 0.75rem;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .commande_prod_quantity span{
        font-size: 18px !important;
        margin: 0px 10px
    }

    #recherche{
        border-radius: 0.5rem;
        position: initial;
        transform: translate(0%,-25%);
    }
}

@media screen and (max-width: 576px) {
    .zone-footer {
        display: flex !important;
        flex-direction: column;
        padding: 2em 0;
        
    }

    .zone-administratif {
        margin-bottom: 1em;
    }

    #recherche{
        border-radius: 0rem;
        position: initial;
        transform: translate(0%,0%);
    }

    #chercher{
        border-radius: 0px;
    }
}

@media screen and (max-width: 520px) {
    .liens-nouveautes {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {

    .commande_prod_photo{
        width: 50% !important;
        margin: 0px auto;
    }
    .commande_prod_info{
        width: 100% !important;
    }

    .commande_prod_quantity{
        width: 100% !important;
    }
}